.nav__menu {
  background-color: var(--container-color);
  position: fixed;
  z-index: 1000;
  inset-block: 0;
  left: -100%;
  padding: 60px 30px;
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.nav__active {
  left: 0;
}
.nav__item {
  transition-duration: 1s;
  transform: translateX(100%);
  opacity: 0;
  margin-block: 5px;
}
.nav__item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav__item:nth-child(3) {
  transition-delay: 0.4s;
}
.nav__item:nth-child(4) {
  transition-delay: 0.6s;
}
.nav__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
  column-gap: 24px;
  border-bottom: 2px solid var(--border-color);
  padding-block: 14px;
}
:global(.nav__icon),
:global(.nav__name) {
  color: var(--title-color);
  font-size: 22px;
  transition-duration: 0.3s;
}
@media (max-width: 767px) {
  :global(.nav__icon),
  :global(.nav__name) {
    font-size: var(--font-normal);
  }
}
@media (max-width: 576px) {
  :global(.nav__icon),
  :global(.nav__name) {
    font-size: var(--font-small);
  }
}
.nav__link:not(.active__nav):hover
  :is(:global(.nav__name), :global(.nav__icon)) {
  color: hsl(271, 76%, 70%);
}
:global(.nav__name) {
  font-weight: var(--font-500);
}
.nav__link.active__nav :is(:global(.nav__name), :global(.nav__icon)) {
  color: var(--first-color);
}
:global(.nav__toggle) {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 0.3s;
  cursor: pointer;
  z-index: 10000;
}
:global(.nav__toggle) span {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  display: block;
  background-color: var(--title-color);
}
:global(.nav__toggle) span:not(:last-child) {
  margin-bottom: 5px;
}
:global(.nav__toggle):hover {
  background-color: var(--border-color);
}
:global(.nav__toggle):active {
  scale: 0.97;
}
:global(.animate__toggle) span:first-child {
  rotate: 45deg;
  translate: 0px 3px;
}
:global(.animate__toggle) span:nth-child(2) {
  display: none;
}
:global(.animate__toggle) span:last-child {
  rotate: -45deg;
  translate: 0px -3px;
}
@media (min-width: 1024px) {
  .nav__menu {
    all: unset;
  }
  :global(.nav__toggle) {
    display: none;
  }
  .nav {
    position: fixed;
    inset-block: 0;
    display: flex;
    right: 30px;
    align-items: center;
    z-index: 1000;
  }
  :global(.nav__item) {
    margin-block: 20px;
  }
  .nav__link {
    padding: 0;
    border-bottom: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transition-duration: 0.3s;
  }
  :global(.nav__icon) {
    margin-inline: auto;
    font-size: 20px;
  }
  :global(.nav__name) {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    height: 100%;
    line-height: 50px;
    padding-inline: 30px 25px;
    border-radius: 30px;
    font-size: var(--font-small);
    color: var(--text-white) !important;
    transition-duration: 0.3s;
    opacity: 0;
    z-index: -1;
  }
  .nav__link:hover :global(.nav__name) {
    right: 27px;
    opacity: 1;
    border-radius: 30px 0 0 30px;
  }

  .active__nav {
    background-color: var(--first-color);
  }
  .nav__link:not(.active__nav):hover {
    background-color: var(--first-color);
  }

  .nav__link:hover :global(.nav__icon),
  .active__nav :global(.nav__icon) {
    color: var(--text-white) !important;
  }
}
